{% extends 'base.html' %}
{% block title %}
	About project
{% endblock %}

{% block content %}
<main>

    <section>

        <div>
            About the project
        </div>

        <h1>
            Python.<br>
            Django.<br>
            Learning.
        </h1>

        <p>
            This is my first Django project.
            I'm using it to learn web development,
            backend architecture and Python.
        </p>

        <div>

            <a href="{% url 'notes_list' %}">
                View Notes →
            </a>

            <a href="{% url 'home' %}">
                ← Home
            </a>

        </div>

    </section>

</main>
{% endblock %}