{% extends "base.html" %}
{% block content %}
<main>

    <section>

        <div>
            <span>●</span>
            Django Developer Workspace
        </div>

        <h1>
            Welcome to<br>
            Django Notes
        </h1>

        <p>
            My personal space for programming notes,
            backend development, Python, Django and
            everything I learn along the way.
        </p>

        <div>

            <a href="{% url 'notes_list' %}">
                Explore Notes →
            </a>

            <a href="{% url 'about' %}">
                About Project
            </a>

        </div>

    </section>

</main>
{% endblock %}