{% with total=notes|length %}
    <h1>Notes list - {{ total }}</h1>
{% endwith %}
<ul>
    {% for note in notes %}
        <li>
            <a href="{% url 'note_detail' note.id %}">
                {{ note.title }}
                {% if note.category == "backend" %}
                	<span style="color: red">Category: {{ note.category }}</span>
                {% elif note.category == "programming"%}
                    <span style="color: green">Category: {{ note.category }}</span>
                {% else %}
                    <span style="color: black">Category: {{ note.category }}</span>
                {% endif %}

                Tag: {{ note.tags }}
            </a>
        </li>
        {% empty %}
        <li>Empty note list</li>
    {% endfor %}
</ul>

