<header>
    <nav class="navbar">
        <a class="nav-link" href="{% url 'home' %}">
            <div class="brand">
                <div class="brand-icon">N</div>
                <span>My Notes</span>
            </div>
        </a>

        <div class="nav-links">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'notes_list' %}">Notes list</a>
        </div>
    </nav>
</header>