<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{safe_title}</title>

        <style>

        </style>
    </head>

    <body>

        <nav class="navbar">
            <a href="#" class="brand">
                <div class="brand-icon">N</div>
                <span>My Django Notes</span>
            </a>

            <div class="nav-links">
                <a class="nav-link" href="#">
                    Home
                </a>

                <a class="nav-link" href="#">
                    Notes
                </a>

                <a class="nav-link" href="#">
                    About
                </a>
            </div>
        </nav>

        {body}

        <footer class="footer">
            Built with <strong>Python + Django</strong> 🚀
        </footer>

    </body>
    </html>